= javascript_include_tag "http://#{request.host}:#{endpoint.port}/stomp.js"

#player-play
  %h1 #{session[:name]}

  #question
   
  %form#response-form
    %input#answer{:type=>:text}
    .go
      %input{:type=>:submit}

  #correct-answer
  

:javascript
  $(function() {
    var client = new Stomp.Client();
    client.connect( function() {
      client.subscribe( '/game/questions', function(message) {
        console.log( "questions" );
        q = JSON.parse( message.body );
        console.debug( q );
        if ( q.type == 'lock-question' ) {
          console.log( "lock question" );
          $('form').hide();
          $('#correct-answer').html( q.answer );
        } else {
          $('form').show();
          $( '#question' ).html( q.question );
          $('#correct-answer').html('');
        }
      }  );
    } );
    $( '#response-form' ).submit( function() {
      console.log( "sending answer" );
      client.send( '/game/responses', {}, JSON.stringify( { answer: $('#answer').val() } ) );
      $('#answer').val('');
      return false;
    } );
  } );
