/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

body {
  @extend .container;
  @extend .row;

  a, input[type='submit'] {
    @extend .btn;
  }
  a.correct {
    @extend .btn-primary;
  }

  .roster-entry {
    .score {
      @extend .pull-right;
      width: 2em;
      font-weight: bold;
    }
  }
  .response-entry {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
    padding-bottom: 1em;
    .name {
      font-weight: bold;
    }
    .response {
    }
    .scoring {
      @extend .pull-right;
    }
  }

  #player-login, #player-play {
    label {
      font-weight: bold;
    }
    text-align: center;
  }
}
